<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Logearse</title>
</head>

<body class="mat-typography">
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Bienvenido a Mantech! </h3>

                                <!-- Sign In Form -->
                                <form [formGroup]="formValue">
                                    <div class="form-floating mb-3">
                                        <input type="email" formControlName="correo" class="form-control" id="correo" placeholder="name@example.com">
                                        <label for="floatingInput">Correo Electronico</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" formControlName="contraseña" class="form-control" id="contraseña" placeholder="Password">
                                        <label for="floatingPassword">Contraseña</label>
                                    </div>

                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                        <label class="form-check-label" for="rememberPasswordCheck">
                                              Recordar contraseña
                                        </label>
                                    </div>

                                    <div class="d-grid">
                                        <button (click)="login()" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Iniciar sesion</button>
                                        <br>
                                        <div class="text-center">
                                            <a class="small" href="#">¿Olvidaste tu contraseña?</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>