.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 600px;
    background-color: whitesmoke;
    text-align: center;
  }

  body{
     background-color: #9c9c9c;
  }