<!DOCTYPE html>
<html lang="en">
<app-nav-empresas></app-nav-empresas>

<body>
    <!-- Header-->
    <header class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <p class="display-5 font text-black mb-2">Bienvenido Usuario"SISTEMAS"</p>
                        <p class="lang text-black-50 mb-4">Hola, bienvenido usuario, en este apartado encontrarás una serie de videos que te ayudarán para el funcionamiento del sistema!
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
<!--Videos-->
<div class="justify-content: center">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <iframe width="1350" height="600" src="https://www.youtube.com/embed/GJU4ej73E_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Video!</h5>
                        <p>Introducción, Para que sirve el Sistema!.</p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <iframe width="1350" height="600" src="https://www.youtube.com/embed/a5uQMwRMHcs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Tips</h5>
                        <p>Aquí verás los tips que te pueden funcionar!</p>
                    </div>
                </div>
                <div class="carousel-item active">
                    <iframe width="1350" height="600" src="https://www.youtube.com/embed/uWcy3ArBxUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Más videos!</h5>
                        <p>Atajos!.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previamente</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>


</div>


</html>